.header {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 99, 71, 1);

  h3 {
    color: #fff;
  }
}

.app-name {
  border: 1px solid white;
  padding: 3px;
  margin: 0 0 0 16px;
  font-weight: 300;
  text-decoration: underline;
}

.the-time {
  color: white;
  margin: 12px 16px 0 0;
}
