<div class="table">
  <div class="logs-wrapper">
    <div *ngFor="let lType of logTypes" class="table-card animated fadeIn">
      <app-tasks-container
        (changeLogDate)="changeLogDate($event, lType)"
        (createNewTask)="createNewTask($event)"
        (editTask)="editTask($event)"
        (removeTask)="removeTask($event)"
        (migrateTaskToFutureLog)="migrateTaskToFutureLog()"
        [tasks]="tasks[lType]"
        [lType]="lType"
      ></app-tasks-container>
    </div>
    <app-migrate-datepicker
      *ngIf="logsDateService.isMigrateDatepickerShown"
      (migrateTask)="migrateTask($event)"
    ></app-migrate-datepicker>
  </div>
</div>
