<mdb-card>
  <mdb-card-body ngClass="{{ lType }}-log-title">
    <mdb-card-title>
      <h4>{{ lType | titlecase }} Log</h4>
    </mdb-card-title>
    <app-logs-datepicker
      (changeLogDate)="changeLogDate.emit($event, lType)"
      [lType]="lType"
    ></app-logs-datepicker>
  </mdb-card-body>
</mdb-card>
<app-tasks-scrollbar
  (openNewTaskForm)="openNewTaskForm($event)"
  (openEditTaskForm)="openEditTaskForm($event)"
  (createNewTask)="onCreateNewTask($event)"
  (editTask)="editTask.emit($event)"
  (removeTask)="removeTask.emit($event)"
  (migrateTaskToFutureLog)="migrateTaskToFutureLog.emit()"
  [tasks]="tasks"
  [lType]="lType"
></app-tasks-scrollbar>
