<perfect-scrollbar class="scroll-tasks mt-2">
  <div *ngFor="let task of tasks">
    <app-task
      *ngIf="logsTasksService.activeEditTaskForm !== task.id"
      (click)="openEditTaskForm.emit(task.id)"
      [task]="task"
    ></app-task>
    <app-edit-task-form
      *ngIf="logsTasksService.activeEditTaskForm === task.id"
      (editTask)="editTask.emit($event)"
      (removeTask)="removeTask.emit($event)"
      [task]="task"
    ></app-edit-task-form>
  </div>
  <div>
    <mdb-card
      *ngIf="logsTasksService.activeNewTaskForm !== lType"
      (click)="openNewTaskForm.emit()"
      class="add-task-card"
    >
      <mdb-card-body>
        <div class="text-center task-text">
          <mdb-icon fas icon="plus mr-2"></mdb-icon> Create new task
        </div>
      </mdb-card-body>
    </mdb-card>
    <app-new-task-form
      *ngIf="logsTasksService.activeNewTaskForm === lType"
      (createNewTask)="createNewTask.emit($event)"
      [lType]="lType"
      id="new-task"
    ></app-new-task-form>
  </div>
</perfect-scrollbar>
